
<div class="container" >
  <div *ngIf="!customers">loading</div>
  <table *ngIf="customers" >
    <tr>
      <th></th>
      <div class="gap"></div>
      <th>Id</th>
      <div class="gap"></div>
      <th>First Name</th>
      <div class="gap"></div>
      <th>Last Name</th>
    </tr>
    <tr *ngFor="let customer of customers" >
      <td><a [routerLink]="['/customer-edit',customer.id]"><fa-icon [icon]="faPencil"></fa-icon></a></td>
      <div class="gap"></div>
      <td><a [routerLink]="['/customer-orders',customer.id]" >{{customer.id}}</a></td>
      <div class="gap"></div>
      <td>{{customer.firstName}}</td>
      <div class="gap"></div>
      <td>{{customer.lastName}}</td>
    </tr>
  </table>
</div>
<div class="container">
  <button mat-flat-button color="primary" class="btn-add" [routerLink]="['/customer-edit']">
  Add a new Customer
</button>
</div>

